<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogToConsole="true">

  <targets>

    <target name="logfile" xsi:type="File" fileName="${longdate:cached=true}.log"
            layout="${date:format=HH\:mm\:ss} ${logger} ${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${logger} ${message}"/>

    <target name="mail" xsi:type="Mail" layout="${message}"
            smtpAuthentication="NTLM"
            smtpServer="smtphost.redmond.corp.microsoft.com"
            from="${windows-identity:domain=false}@microsoft.com"
            to="v-am@microsoft.com">
      
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
<!-- Uncomment this to send error emails
    <logger name="*" minlevel="Error" writeTo="mail" />
-->    
  </rules>
</nlog>