<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.OData.Client" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.OData.Core" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="7.7.2" targetFramework="net472" />
  <package id="NLog" version="4.7.5" targetFramework="net472" />
</packages>