<?xml version="1.0" encoding="utf-8" ?>
<Parameters>
  <!-- Value of MetadataDocumentUri must be set to a valid service document uri or a local file path 
  eg : http://services.odata.org/Experimental/OData/OData.svc/ or File://C://Odata.edmx  -->
  <Parameter Name="MetadataDocumentUri" Value="http://localhost:9000/" />

  <!-- Namespace prefix will replace the original namespace, unless the model has several namespaces.-->
  <Parameter Name="NamespacePrefix" Value="ODataV4TestClient" />
  <!-- Value of TargetLanguage must be CSharp or VB -->
  <Parameter Name="TargetLanguage" Value="CSharp" />

  <Parameter Name="OmitNamespaces" Value="System" />
  <Parameter Name="HiddenMembers" Value="Microsoft.Exchange.Services.OData.Model.User" />
  <Parameter Name="NamesToChange" Value="EntityContainer -> ODataV4TestClient" />

</Parameters>
