name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: [self-hosted, 1ES.Pool=1es-ubuntu-github-latest-microsoftgraph]

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore ./Vipr.sln
    - name: Build
      run: dotnet build ./Vipr.sln --no-restore
    - name: Test
      run: dotnet test ./Vipr.sln --no-build --verbosity normal
